<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Represent</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="bower_components">-->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/glyphicons.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id="tool-panel" ng-controller="toolController" rep-nodefault>
    <div class="logo" >
      <h1>REP</h1>
    </div>
    <div id="font-tool" class="tool-subpanel">
      <div class="tool-row">
        <div class="btn-group" role="group" aria-label="...">
          <div rep-dropdown="fontFamily"></div>
          <div rep-dropdown="fontSize"></div>
          <div class="btn" title="加大字号" ng-click="changeFontSize(true)" rep-nodefault><span class="glyphicons glyphicons-text-bigger" aria-hidden="true"></span></div>
          <div class="btn" title="减小字号" ng-click="changeFontSize(false)" rep-nodefault><span class="glyphicons glyphicons-text-smaller" aria-hidden="true"></span></div>
          <div class="btn" title="消除样式" ng-click="clearStyle()" rep-nodefault><span class="glyphicons glyphicons-erase" aria-hidden="true"></span></div>
          
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-row">
        <div class="btn-group" role="group">
          <div class="btn" ng-class="{active:bold.current}"title="粗体" ng-click="changeFontStyle(bold);" rep-nodefault><span class="glyphicons glyphicons-bold" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:italic.current}"title="斜体" ng-click="changeFontStyle(italic);" rep-nodefault><span class="glyphicons glyphicons-italic" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:underline.current}"title="下划线" ng-click="changeFontStyle(underline);" rep-nodefault><span class="glyphicons glyphicons-text-underline" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:linethrough.current}"title="删除线" ng-click="changeFontStyle(linethrough);" rep-nodefault><span class="glyphicons glyphicons-text-strike" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:superscript.current}"title="上标" ng-click="changeFontStyle(superscript);" rep-nodefault><span class="glyphicons glyphicons-superscript" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:subscript.current}"title="下标" ng-click="changeFontStyle(subscript);" rep-nodefault><span class="glyphicons glyphicons-subscript" aria-hidden="true"></span></div>
          <label for="color-picker" class="btn" title="字体颜色" ng-style="{'color':color.current}" rep-nodefault><span class="glyphicons glyphicons-text-color" aria-hidden="true"></span></label>
          <input type="color" id="color-picker" ng-model="color.target" ng-change="changeFontStyle(color)"></input>
          <label for="background-color-picker" class="btn" title="背景颜色" ng-style="{'color':backgroundColor.current}" rep-nodefault><span class="glyphicons glyphicons-text-background" aria-hidden="true"></span></label>
          <input type="color" id="background-color-picker" ng-model="backgroundColor.target" ng-change="changeFontStyle(backgroundColor)"></input>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-label">字体</div>
    </div><!-- #font-tool -->
    <div id="sec-tool" class="tool-subpanel">
      <div class="tool-row">
        <div class="btn-group" role="group" aria-label="...">
          <div rep-dropdown="lineHeight"></div>
          <div rep-dropdown="letterSpace"></div>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-row">
        <div class="btn-group" role="group">
          <div class="btn" ng-class="{active:textAlignLeft.current}"title="左对齐" ng-click="changeParaStyle(textAlignLeft);" rep-nodefault><span class="glyphicons glyphicons-align-left"></span></div>
          <div class="btn" ng-class="{active:textAlignCenter.current}"title="剧中对齐" ng-click="changeParaStyle(textAlignCenter);" rep-nodefault><span class="glyphicons glyphicons-align-center"></span></div>
          <div class="btn" ng-class="{active:textAlignRight.current}"title="右对齐" ng-click="changeParaStyle(textAlignRight);" rep-nodefault><span class="glyphicons glyphicons-align-right"></span></div>
          <div class="btn" ng-class="{active:textAlignJustify.current}"title="两端对齐" ng-click="changeParaStyle(textAlignJustify);" rep-nodefault><span class="glyphicons glyphicons-justify" ></span></div>
          <div class="btn" ng-class="{active:textIndent.current}"title="首航缩进" ng-click="changeParaStyle(textIndent);" rep-nodefault><span class="glyphicons glyphicons-left-indent" ></span></div>
          <div class="btn" title="代码高亮"><span class="glyphicons glyphicons-embed-close"></span></div>
          <div class="btn" title="引用"><span class="glyphicons glyphicons-quote"></span></div>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-label">段落</div>
    </div><!-- .sec-tool -->
    <div id="anim-tool" class="tool-subpanel">
      <div class="tool-row">
        <label class="tool-row-head">当前帧:</label>
        <div class="btn-group" role="group">
          <div rep-dropdown="singleAnimType"></div>
          <div rep-dropdown="singleAnimTime"></div>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-row">
        <label class="tool-row-head">全部帧:</label>
        <div class="btn-group" role="group">
          <div rep-dropdown="multiAnimType"></div>
          <div rep-dropdown="multiAnimTime"></div>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-label">动画</div>
    </div><!-- .ani-tool -->
  </div>
	<div id="insert-col" ng-controller="insertController" rep-nodefault>
    <div class="insert-col-header"><h2>插入</h2></div>
    <ul>
      <li ng-class="{active:(inserting === 'text')}" ng-click="textButtonClick();" ><span class="glyphicons glyphicons-list" aria-hidden="true"></span><span class="insert-col-text">文本框</span></li>
      <li ng-class="{active:(inserting === 'picture')}" ><span class="glyphicons glyphicons-picture" aria-hidden="true"></span><span class="insert-col-text">图片</span></li>
      <li ng-class="{active:(inserting === 'film')}" ><span class="glyphicons glyphicons-film" aria-hidden="true"></span><span class="insert-col-text">视频</span></li>
      <li ng-class="{active:(inserting === 'music')}" ><span class="glyphicons glyphicons-music" aria-hidden="true"></span><span class="insert-col-text">音频</span></li>
      <li ng-class="{active:(inserting === 'table')}" ><span class="glyphicons glyphicons-table" aria-hidden="true"></span><span class="insert-col-text">表格</span></li>
    </ul>
  </div>
  <div class="panel-wrapper">
    <div class="new-frame-button" id="left-frame-button">
     <span class="glyphicons glyphicons-circle-plus"></span>
    </div>
    <div class="new-frame-button" id="right-frame-button">
     <span class="glyphicons glyphicons-circle-plus"></span>
    </div>
    <div class="new-frame-button" id="top-frame-button">
     <span class="glyphicons glyphicons-circle-plus"></span>
    </div>
    <div class="new-frame-button" id="bottom-frame-button">
     <span class="glyphicons glyphicons-circle-plus"></span>
    </div>
    <panel>
    </panel>
  </div><!-- .panel-wrapper -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery/dist/jquery-ui.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>