<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Represent</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="bower_components">-->
  <link rel="stylesheet" href="css/glyphicons.css">
  <link rel="stylesheet" href="css/glyphicons-filetypes.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/repPanel.js"></script>
  <script src="js/repEditable.js"></script>
  <script src="js/wrapperController.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id="tool-panel" ng-controller="toolController" rep-nodefault>
    <div class="logo" >
      <h1>REP</h1>
    </div>
    <div id="font-tool" class="tool-subpanel">
      <div class="tool-row">
        <div class="btn-group" role="group" aria-label="...">
          <div rep-dropdown="fontFamily"></div>
          <div rep-dropdown="fontSize"></div>
          <div class="btn" title="加大字号" ng-click="changeFontSize(true)" ><span class="glyphicons glyphicons-text-bigger" aria-hidden="true"></span></div>
          <div class="btn" title="减小字号" ng-click="changeFontSize(false)" ><span class="glyphicons glyphicons-text-smaller" aria-hidden="true"></span></div>
          <div class="btn" title="消除样式" ng-click="clearStyle()" ><span class="glyphicons glyphicons-erase" aria-hidden="true"></span></div>
          
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-row">
        <div class="btn-group" role="group">
          <div class="btn" ng-class="{active:bold.current}"title="粗体" ng-click="changeFontStyle(bold);" ><span class="glyphicons glyphicons-bold" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:italic.current}"title="斜体" ng-click="changeFontStyle(italic);" ><span class="glyphicons glyphicons-italic" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:underline.current}"title="下划线" ng-click="changeFontStyle(underline);" ><span class="glyphicons glyphicons-text-underline" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:linethrough.current}"title="删除线" ng-click="changeFontStyle(linethrough);" ><span class="glyphicons glyphicons-text-strike" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:superscript.current}"title="上标" ng-click="changeFontStyle(superscript);" ><span class="glyphicons glyphicons-superscript" aria-hidden="true"></span></div>
          <div class="btn" ng-class="{active:subscript.current}"title="下标" ng-click="changeFontStyle(subscript);" ><span class="glyphicons glyphicons-subscript" aria-hidden="true"></span></div>
          <label for="color-picker" class="btn" title="字体颜色" ng-style="{'color':color.current}" ><span class="glyphicons glyphicons-text-color" aria-hidden="true"></span></label>
          <input type="color" id="color-picker" ng-model="color.target" ng-change="changeFontStyle(color)"></input>
          <label for="background-color-picker" class="btn" title="背景颜色" ng-style="{'color':backgroundColor.current}" ><span class="glyphicons glyphicons-text-background" aria-hidden="true"></span></label>
          <input type="color" id="background-color-picker" ng-model="backgroundColor.target" ng-change="changeFontStyle(backgroundColor)"></input>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-label">字体</div>
    </div><!-- #font-tool -->
    <div id="sec-tool" class="tool-subpanel">
      <div class="tool-row">
        <div class="btn-group" role="group" aria-label="...">
          <div rep-dropdown="lineHeight"></div>
          <div rep-dropdown="letterSpace"></div>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-row">
        <div class="btn-group" role="group">
          <div class="btn" ng-class="{active:textAlignLeft.current}"title="左对齐" ng-click="changeParaStyle(textAlignLeft);" ><span class="glyphicons glyphicons-align-left"></span></div>
          <div class="btn" ng-class="{active:textAlignCenter.current}"title="剧中对齐" ng-click="changeParaStyle(textAlignCenter);" ><span class="glyphicons glyphicons-align-center"></span></div>
          <div class="btn" ng-class="{active:textAlignRight.current}"title="右对齐" ng-click="changeParaStyle(textAlignRight);" ><span class="glyphicons glyphicons-align-right"></span></div>
          <div class="btn" ng-class="{active:textAlignJustify.current}"title="两端对齐" ng-click="changeParaStyle(textAlignJustify);" ><span class="glyphicons glyphicons-justify" ></span></div>
          <div class="btn" ng-class="{active:textIndent.current}"title="首航缩进" ng-click="changeParaStyle(textIndent);" ><span class="glyphicons glyphicons-left-indent" ></span></div>
          <!--<div class="btn" title="代码高亮"><span class="glyphicons glyphicons-embed-close"></span></div>-->
          <!--<div class="btn" title="引用"><span class="glyphicons glyphicons-quote"></span></div>-->
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-label">段落</div>
    </div><!-- .sec-tool -->
    
    <div id="block-tool" class="tool-subpanel">
      <div class="tool-row">
        <div class="btn-group" role="group">
          <label for="block-bgcolor-picker" class="btn" title="区块颜色" ng-style="{'color':bgcolor.current}" ><span class="glyphicons glyphicons-bring-forward" aria-hidden="true"></span></label>
          <input type="color" id="block-bgcolor-picker" ng-model="bgcolor.target" ng-change="changeBlockStyle(bgcolor);"/>
          <!--<label for="block-bdcolor-picker" class="btn" title="区块边界颜色" ng-style="{'color':bdcolor.current}" ><span class="glyphicons glyphicons-fit-image-to-frame" aria-hidden="true"></span></label>
          <input type="color" id="block-bdcolor-picker" ng-model="bdcolor.target" ng-change="changeFontStyle(bdcolor)"></input>-->
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-row">
        <label class="tool-row-head">层级:</label>
        <span class="layer-num" ng-bind="zindex.current"></span>
        <div class="combine"><div><span class="glyphicons glyphicons-chevron-up" ng-click
          ="zindex.target=+zindex.current+1;changeBlockStyle(zindex);"></span></div><div><span class="glyphicons glyphicons-chevron-down" 
          ng-click="zindex.target=+zindex.current-1;changeBlockStyle(zindex);"></span></div></div>
      </div><!-- .tool-row -->
      <div class="tool-label">区块</div>
    </div><!-- .block-tool -->
    <div id="anim-tool" class="tool-subpanel">
      <div class="tool-row">
        <label class="tool-row-head">当前帧:</label>
        <div class="btn-group" role="group">
          <div rep-dropdown="singleAnimateType"></div>
          <div rep-dropdown="singleAnimateTime"></div>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-row">
        <label class="tool-row-head">全部帧:</label>
        <div class="btn-group" role="group">
          <div rep-dropdown="multiAnimateType"></div>
          <div rep-dropdown="multiAnimateTime"></div>
        </div><!-- btn-group -->
      </div><!-- .tool-row -->
      <div class="tool-label">动画</div>
    </div><!-- .ani-tool -->
  </div><!-- tool-panel -->
  <div class="m-cont"  >
	<div id="insert-col" ng-controller="insertController" rep-nodefault>
    <div class="insert-col-header"><h2>插入</h2></div>
    <ul>
      <li ng-class="{active:(inserting === 'text')}" ng-click="textButtonClick();" ><span class="glyphicons glyphicons-list" aria-hidden="true"></span><span class="insert-col-text">文本框</span></li>
      <li ng-class="{active:(inserting === 'image')}" ng-click="accept='image/*';inserting='image'"><label for="in-fileupload"><span class="glyphicons glyphicons-picture" aria-hidden="true"></span><span class="insert-col-text">图片</span></label></li>
      <li ng-class="{active:(inserting === 'video')}" ng-click="accept='video/*';inserting='video'"><label for="in-fileupload"><span class="glyphicons glyphicons-film" aria-hidden="true"></span><span class="insert-col-text">视频</span></label></li>
      <hr>
      <li ><label for="panel-bgcolor-picker"><span class="glyphicons glyphicons-bring-forward" aria-hidden="true"></span><span class="insert-col-text">背景颜色</label><input type="color" ng-model="bgcolor" id="panel-bgcolor-picker" ng-change="bgColorButtonClick(bgcolor);"/></span></li>
      <li ><label for="in-fileupload" ng-click="accept='video/*';inserting='bgimage'"><span class="glyphicons glyphicons-picture" aria-hidden="true"></span><span class="insert-col-text">背景图片</span></label></li>
      <li ><label for="in-fileupload" ng-click="accept='audio/*';inserting='bgmusic'"><span class="glyphicons glyphicons-music" aria-hidden="true"></span><span class="insert-col-text">背景音频</span></label></li>
    </ul>
    <div rep-uploader>
  </div>
  </div>
  <div class="section-wrapper" >
    <div class="rel-wrapper" ng-controller="wrapperController" >
      <div class="position">
        <div>x : <span ng-bind="x + 1"></span></div>
        <div>y : <span ng-bind="y + 1"></span></div>
      </div>
      <div id="preview-button" ng-click="onPreviewButtonClick();" rep-nodefault title="预览">
        <span class="glyphicons glyphicons-show-big-thumbnails"></span>
      </div>
      <div id="save-button" ng-click="onSaveButtonClick();" rep-nodefault title="保存">
        <span class="glyphicons glyphicons-floppy-save"></span>
      </div>
      <div id="pdf-button" ng-click="onPDFButtonClick();" rep-nodefault title="保存为PDF">
        <span class="filetypes filetypes-pdf"></span>
      </div>
      
      <div class="new-frame-button" id="left-frame-button" ng-class="{disabled:(x === 0)}" ng-click="leftButton()" rep-nodefault>
        <span class="glyphicons glyphicons-left-arrow"></span>
      </div>
      <div class="new-frame-button" id="right-frame-button" ng-click="rightButton()" rep-nodefault>
        <span class="glyphicons glyphicons-circle-plus" ng-show="panels.length <= x + 1"></span>
        <span class="glyphicons glyphicons-right-arrow" ng-show="panels.length > x + 1"></span>
      </div>
      <div class="new-frame-button" id="top-frame-button" ng-class="{disabled:(y === 0)}" ng-click="upButton()" rep-nodefault>
        <span class="glyphicons glyphicons-up-arrow"></span>
      </div>
      <div class="new-frame-button" id="bottom-frame-button" ng-click="downButton()" rep-nodefault>
        <span class="glyphicons glyphicons-circle-plus" ng-show="!panels[x] || panels[x].length <= y + 1"></span>
        <span class="glyphicons glyphicons-down-arrow" ng-show="panels[x] && panels[x].length > y + 1"></span>
      </div>
      <audio ng-src="{{audio}}" autoplay controls ng-show="audio !== '#'"></audio>
      <section section ng-class="{'cursor-move':draggable, 'cursor-nw-resize':(resizeCorner === 'leftup'), 
        'cursor-ne-resize':(resizeCorner === 'rightup'), 'cursor-sw-resize':(resizeCorner === 'leftbottom'), 
        'cursor-se-resize':(resizeCorner === 'rightbottom') }">
      </section>
      <script type="text/ng-template" id="section-template">
        <section section ng-class="{'cursor-move':draggable, 'cursor-nw-resize':(resizeCorner === 'leftup'), 
        'cursor-ne-resize':(resizeCorner === 'rightup'), 'cursor-sw-resize':(resizeCorner === 'leftbottom'), 
        'cursor-se-resize':(resizeCorner === 'rightbottom') }">
        </section>
      </script>
    </div>
  </div><!-- .section-wrapper -->
  </div><!-- .m-cont -->
  
  <div class="footer" rep-nodefault>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="js/uploader.js"></script>
  <script src="js/app.js"></script>
  <script src="bower_components/jquery/dist/jquery-ui.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>